{{ define "main" }}

<main>

<div class="pagination">
	{{- if .NextInSection }}
	<a href="{{ .NextInSection.Permalink }}" title="Zurück" class="arrow"><span class="icon">&#11160;</span></a>
	{{- end }}
	{{- if .PrevInSection }}
	<a href="{{ .PrevInSection.Permalink }}" title="Vorwärts" class="arrow"><span class="icon">&#11162;</span></a>
	{{- end }}
	<details>
		<summary>{{ .Title }} <span class="icon">&#128712;</span></summary>
		<p>{{ .Summary }}</p>
	</details>
	<a href=".." title="zur Boulderliste" class="arrow">&#8803;</a>
	<a href="../.." title="zur Hauptseite" class="arrow">&#8962;</a>
</div>

<div id="container" style="width:{{.Params.width}}px;height:{{.Params.height}}px;">
<svg viewBox="{{.Params.x | default 0}} {{.Params.y | default 0}} {{.Params.width}} {{.Params.height}}" xmlns="http://www.w3.org/2000/svg">
<defs>
	<marker id="head" orient="auto" viewBox="0 0 10 10" refX="1.8" refY="5" markerWidth="2.7" markerHeight="2.7">
		<path d="M1 1 L9 4.5 L1 9 z" fill="black" stroke="black" stroke-linejoin="round" />
	</marker>
	<marker id="head2" orient="auto" viewBox="0 0 10 10" refX="1" refY="5" markerWidth="4" markerHeight="4">
		<path d="M1 1 L9 4.5 L1 9 z" fill="green" stroke="green" stroke-linejoin="round" />
	</marker>
</defs>
{{ .Content -}}
</svg>
</div>

<script>
function fit_width(event){
	let container = document.getElementById("container");
	let w = window.innerWidth;
	let h = window.innerHeight;
	if(w < {{.Params.width}}){
		container.style.width = w + "px";
		container.style.height = h + "px";
	}
}
document.addEventListener('DOMContentLoaded', fit_width);
screen.orientation.addEventListener('change', fit_width);

let touchStartX=0;
document.addEventListener('touchstart', e => {
	if(e.touches.length == 1 && e.changedTouches.length == 1 && window.visualViewport.width >= {{.Params.width}}){
		touchStartX = e.changedTouches[0].screenX;
	}
});
document.addEventListener('touchend', e => {
	if(e.touches.length == 1 && e.changedTouches.length == 1 && window.visualViewport.width >= {{.Params.width}}){
		let touchEndX = e.changedTouches[0].screenX;
		{{- if .NextInSection }}
		if((touchStartX + 100) < touchEndX){
			window.location = "{{ .NextInSection.Permalink }}";
		}
		{{- end }}
		{{- if .PrevInSection }}
		if((touchStartX - 100) > touchEndX){
			window.location = "{{ .PrevInSection.Permalink }}";
		}
		{{- end }}
	}
});
</script>

</main>

{{ end }}
